extends layout

block content
  if messages 
    each message in messages 
      div.message 
        ul 
          li= message.title
          li= message.text 
          li= message.author.username 
          li= message.date